<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li class="active"> Login / Register </li>
      </ul>
    </div>
  </div>
</div>
<div class="login-register-area pt-95 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-register-tab-list nav">
            <a class="active" data-toggle="tab" href="#lg1">
              <h4> login </h4>
            </a>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <div class="login-register-form">
                  <%= form_for :session do |f| %>
                    <%= f.text_field :email, placeholder: "Email" %>
                    <%= f.password_field :password, placeholder: "Password" %>
                    <div class="button-box">
                      <div class="login-toggle-btn">
                        <%= f.check_box :remember_me %>
                        <%= f.label "Remember me" %>
                        <%= link_to "Forgot Password?", new_password_reset_path %>
                      </div>
                      <div>
                        <%= f.button "Login" %>
                        <%= link_to new_user_path do %>
                          <%#= f.button "register", class: "register-button" %>
                          <button type="submit" class="register-button">Register</button>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
