<div class="row">
  <div class="col-lg-10 offset-1">
    <div class="checkout-wrapper">
      <div id="faq" class="pan el-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="billing-information-wrapper">
              <div class="row">
                <% if logged_in? %>
                  <% if current_user.addresses.present? %>
                    <% current_user.addresses.each do |address| %>
                      <div class="col-md-6 col-lg-6">
                        <%= form_tag(address_path, method: :post) do %>
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                          <div class="single-ship">
                            <input type="radio" name="address" value="address" checked="">
                            <label id="default-address">Using this address</label>
                          </div>
                          <div class="shipping-info-2">
                            <span>Name: <span id="address-name"><%= address.name.
                              empty? ? current_user.name : address.name%></span>
                            </span>
                            <span>Email: <span id="address-email"><%= address.email || current_user.email %></span></span>
                            <span>Address: <span id="address-address"><%= address.address %></span></span>
                            <span>City: <span id="address-city"><%= address.city %></span></span>
                            <span>Country: <span id="address-country"><%= address.country %></span></span>
                            <span>Phone: <span id="address-phone"><%= address.phone %></span></span>
                            <div class="billing-back-btn">
                              <div class="billing-btn">
                                <%= button_tag "Select", id:"checkout-next1" %>
                              </div>
                              <%= link_to address_path(:address_id => address.id)
                                , method: :patch do %>
                                <div class="billing-btn">
                                    <button type="submit" id="checkout-next1">DELETE</button>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if session[:address].present? %>
                    <div class="col-md-6 col-lg-6">
                      <%= form_tag(address_path, method: :post) do %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="single-ship">
                          <input type="radio" name="address" value="address" checked="">
                          <label id="default-address">Using this address</label>
                        </div>
                        <div class="shipping-info-2">
                          <span>Name: <span id="address-name-1"><%= session[:address]["name"] %></span></span>
                          <span>Email: <span id="address-email-1"><%= session[:address]["email"] %></span></span>
                          <span>Address: <span id="address-address-1"><%= session[:address]["address"] %></span></span>
                          <span>City: <span id="address-city-1"><%= session[:address]["city"] %></span></span>
                          <span>Country: <span id="address-country-1"><%= session[:address]["country"] %></span></span>
                          <span>Phone: <span id="address-phone-1"><%= session[:address]["phone"] %></span></span>
                          <div class="billing-back-btn">
                            <div class="billing-btn">
                              <%= button_tag "Select", id:"checkout-next2" %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="single-ship">
                <input type="radio" name="address" value="address" checked="">
                <label id="add-new-address">Add new address</label>
              </div>
              <%= form_for @address, url: {controller: :checkouts, action: :create}, method: :post, remote: true do |f| %>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :name, "Name" %>
                      <%= f.text_field :name %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :email, "Email" %>
                      <%= f.email_field :email %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :address, "Address" %>
                      <%= f.text_field :address %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :city, "City" %>
                      <%= f.text_field :city %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :country, "Country" %>
                      <%= f.text_field :country %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info">
                      <%= f.label :phone, "Phone" %>
                      <%= f.text_field :phone %>
                    </div>
                  </div>
                  <div class="button-box">
                    <%= f.button "Add", id:"checkout-next3" %>
                    <%= link_to new_login_checkout_path do %>
                      <button type="submit" id="checkout-back1" >Back</button>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
