<div class="custom-col-5">
  <div class="product-wrapper mb-25">
    <div class="product-img">
      <%= link_to product do %>
        <%= image_tag product.image_url || "product/product3.jpg" %>
      <% end %>
      <div class="product-action">
        <div class="pro-action-left">
          <%#= link_to product_orders_path(product_id: product.id, quantity: "1"), title:"Add To Cart", method: :post do %>
          <%= form_for @product_order do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :quantity, value: "1" %>
            <!-- <i class="ion-android-cart"></i> Add To Cart -->
            <%= f.submit "Add To Cart", id: "cart-btn" do %>
              <i class="ion-android-cart"></i>
            <% end %>
          <% end %>
        </div>
        <div class="pro-action-right">
          <a title="Wishlist" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h4>
        <%= link_to product.name, product %>
      </h4>
      <div class="product-price-wrapper">
        <span><%= product.sale_price || "$100" %></span>
        <span class="product-price-old"><%= product.price %> </span>
      </div>
    </div>
  </div>
</div>
