<div class="product-img">
  <%= link_to product do %>
    <%= image_tag product.image_url || "product/product3.jpg" %>
  <% end %>
  <div class="product-action">
  </div>
</div>
<div class="product-content">
  <h4>
    <%= link_to product.name, product %>
  </h4>
  <div class="product-price-wrapper">
    <span><%= product.sale_price || "$100" %></span>
    <span class="product-price-old"><%= product.price %> </span>
  </div>
</div>
