<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li class="active">Product Details </li>
      </ul>
    </div>
  </div>
</div>
<div class="product-details pt-100 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="product-details-img">
          <%= image_tag "product-details/product-detalis-l2.jpg", class:"zoompro", data_zoom_image:"product-details/product-detalis-bl1.jpg" %>
          <div id="gallery" class="mt-20 product-dec-slider ">
            <% @best_products.each do |product| %>
            <a data-image="assets/img/product-details/product-detalis-l1.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl1.jpg">
              <%= image_tag product.image_url || "product-details/product-detalis-s2.jpg" %>
            </a>
            <% end %>
          </div>
          <span>-29%</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="product-details-content">
          <h4><%= @product.name %></h4>
          <div class="rating-review">
            <div class="pro-dec-rating">
              <% while @avg_rate > 0 %>
                <% if @avg_rate > 0.5 %>
                  <i class="ion-android-star theme-star"></i>
                <% else %>
                  <i class="ion-android-star-half theme-star"></i>
                <% end %>
                <% @avg_rate -= 1 %>
              <% end %>
            </div>
            <div class="pro-dec-review">
              <ul>
                <li><%= @product.reviews.count %> Reviews </li>
              </ul>
            </div>
          </div>
          <span>$ <%= @product.price %></span>
          <div class="in-stock">
            <p>Available: <span>In stock</span></p>
          </div>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
          <div class="pro-dec-feature">
            <ul>
              <li><input type="checkbox"> Chicken Popeyes: <span>  $4.99</span></li>
              <li><input type="checkbox"> Organic Smoothie : <span> $9.99</span></li>
              <li><input type="checkbox"> Beef Burger With Extra Cheese: <span> Red  $16.99</span></li>
              <li><input type="checkbox"> Fries McDonald's: <span>$14.99</span></li>
            </ul>
          </div>
          <div class="pro-details-cart-wrap">
            <div class="shop-list-cart-wishlist">
              <a title="Add To Cart" href="#">
                <i class="ion-android-cart"></i>
              </a>
              <a title="Wishlist" href="#">
                <i class="ion-ios-heart-outline"></i>
              </a>
            </div>
            <div class="product-quantity">
              <div class="cart-plus-minus">
                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
              </div>
            </div>
          </div>
          <div class="pro-dec-categories">
            <ul>
              <li class="categories-title">Categories:</li>
              <li><a href="#">Fast Foods,</a></li>
              <li><a href="#"> Rich Foods, </a></li>
              <li><a href="#">Custom Orders,</a></li>
              <li><a href="#">Home Decor,</a></li>
              <li><a href="#">Weddings, </a></li>
            </ul>
          </div>
          <div class="pro-dec-categories">
            <ul>
              <li class="categories-title">Tags: </li>
              <li><a href="#"> Cheesy,</a></li>
              <li><a href="#"> Fast Food, </a></li>
              <li><a href="#"> French Fries,</a></li>
              <li><a href="#"> Hamburger,</a></li>
              <li><a href="#"> Pizza </a></li>
            </ul>
          </div>
          <div class="pro-dec-social">
            <ul>
              <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
              <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
              <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a></li>
              <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description-review-area pb-100">
  <div class="container">
    <div class="description-review-wrapper">
      <div class="description-review-topbar nav text-center">
        <a class="active" data-toggle="tab" href="#des-details1">Description</a>
        <a data-toggle="tab" href="#des-details3">Review</a>
      </div>
      <div class="tab-content description-review-bottom">
        <div id="des-details1" class="tab-pane active">
          <div class="product-description-wrapper">
            <p><%= @product.description %></p>
          </div>
          <div class="product-anotherinfo-wrapper">
            <ul>
              <li><span>Tags:</span></li>
              <% @categories.each do |tag| %>
                <li><%= link_to tag.name %> | </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="des-details3" class="tab-pane">
          <%= render "reviews/replace_rate" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-95">
  <div class="container">
    <div class="product-top-bar section-border mb-25">
      <div class="section-title-wrap">
        <h3 class="section-title section-bg-white">Related Products</h3>
      </div>
    </div>
    <div class="related-product clearfix">
      <% @best_products.each do |product| %>
      <div class="product-wrapper col-md-3 float-left">
        <%= render "products/related_product", product: product %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- footer -->
<!-- Modal -->
<%= render "layouts/modal" %>
<!-- Modal end -->
